.custom-container {
  padding: 0px;
  margin: 0 auto;
  max-width: 1200px;
}

.slightly-below {
  margin-top: 40px;
}

.custom-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 15px;
  /* Add additional styling if needed */
}

.custom-container .custom-box {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 20px !important;
  width: 320px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Make the title bold and larger */
.custom-box h2 {
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold; /* Make it bold */
  margin: 0; /* Remove any margin */
}

.custom-box p {
  font-size: 12px; /* Adjust the font size as needed */
  margin: 0; /* Remove any margin */
}

.reduce-column-spacing .col:nth-child(odd) {
  margin-top: -10px;
  margin-right: 0px;
}

.reduce-column-spacing .col:nth-child(even) {
  margin-top: -40px;
}

.reduce-margin {
  margin-bottom: -70px;
  margin-left: 70px;
  margin-top: -30px;
}

.description-content {
  padding-top: 0;
  padding-bottom: 0;
}

.background-box {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 80%;
  background-color: #e6f2ff;
  border-top-left-radius: 30% 60%;
  border-bottom-right-radius: 30% 60%;
  border-bottom-left-radius: 5%;
  z-index: -1;
  margin-top: 40px;
}

.model-selection-box::before {
  content: "";
  position: absolute;
  top: -80px;
  left: -10px;
  width: 71%;
  height: 50%;
  background-color: rgba(255, 245, 219, 255);
  border-top-left-radius: 50% 85%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: -1;
}

.custom-box img {
  width: 100px;
  height: 100px;
}

.background-box img {
  width: 100px;
  height: 100px;
}

@media (min-width: 768px) {
  .move-down {
    transform: translateY(15px);
  }
  .move-up {
    transform: translateY(-15px);
  }
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

.dropdown-item-text {
  flex-grow: 1;
}

.dropdown-item-tick {
  margin-left: auto;
  display: flex;
}

.dropdown-item {
  display: flex;
  align-items: center;
}